body{
	height: 100vh;
	margin: 0;
	display: flex;
	box-sizing: border-box;
	font-family: tahoma;
	background: linear-gradient(90deg, #0ca678, #1971c2,#e03131, #5f3dc4);	
	background-size: 400%;
	color: #212529;
}
.red{
	animation: redmove 1.5s;	
	animation-fill-mode: forwards;
	
}
.blue{
	animation: bluemove 1.5s;	
	animation-fill-mode: forwards;
}
h1{
	margin: 0;
	font-size: 1.5rem;
}
#content{
	padding: 1rem;
	background-color: #f8f9fa;
	width: 80%;
	max-width: 500px;
	height: 500px;
	border-radius: 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.4);
}
#content div{
	text-align: center;
}
#banner h1{
	display: inline-block;
	margin-top: 50px;
}
#banner h2{
	display: inline-block;
	font-size: 1rem;
	margin-left: 5px;	
}
#banner h3{
	margin-bottom: 50px;
	font-size: .9rem;
	color: #343a40;
}
#operation{
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	border-radius: 25px;
}
#radio{
	font-size: 1.2rem;
	width: 100%;
	margin: auto;
	border-radius: 10px;
	display: inline-block;
	margin-bottom: 70px;
}
#radio label:first-of-type{
	margin-right: 20px;
}
#resul input, button{
	width: 50%;
	margin-left: auto; 
	margin-right: auto;
	height: 25px;
	margin-bottom: 10px;
	outline: none;
}
#resul input{
	border: none;
	padding: 5px;
}
#resul button{
	border-radius: 8px;
	background-color: #495057;
	border-width: 3px;
}
#resul button:hover{
	background-color: #212529;	
}
#resultado{
	height: 50px;
}
@keyframes bluemove{
	from {
		background-position: 0%;
	}
	to {
		background-position: 100%;
	}
}
@keyframes redmove{
	from {
		background-position: 100%;
	}
	to {
		background-position: 0%;
	}
}
